body {
  font-display: swap;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  text-decoration: none !important;
}
